.main{
    box-sizing: border-box;
    padding: 70px;
}
.flex{
    display: flex;
    justify-content: space-between;
   
}

.heading{
    text-align: center;
}
.heading_title{
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    color: #3D6CE7;
    display: inline-block;
    /* margin-bottom: 2px; */
}
.heading_title_again{
    font-size: 46px;
    font-weight: 500;
    /* margin-bottom: 10px; */
}

.course_card{
    border-radius: 14px;
    padding: 0px 30px 30px;
    width: 350px;
    background: white;
    /* margin-bottom: 30px; */
    box-shadow: 0px 1px 2px rgba(26, 31, 35, 0.7);
    border: 2px solid rgba(3, 18, 32, 0.06);
    
}
.section{
    padding: 74px 0px 30px 0px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.icon{
    width: 40px;
   height: 30px;
   color:#007A70;
   margin-bottom: 20px;
   margin-top: 19px;
   margin-left: 15px;
}
.star{
    color:#ffc107;
    /* background-color: #dde1e4; */
    border-radius: 150px;
}
.bg_color_star{
    background-color: #f1f2f5;
    border-radius: 100%;
    border: 1px solid #f1f2f5;
    width:20px;
    height: 20px;
    margin-right: 10px;

}
.zero{
    width: 25px;
    height: 20px;
    padding: 5px;
}
.title{
    font-size: 30px;
    color: #0C140F;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.title_again{
    color: #ff6900;
    font-weight: 700;
    font-size: 14px;
}
.free{
    color:#007A70;
    font-size: 27px;
    font-weight: 700;

}
.list{
    list-style-type: none;

}
.gray{
    color:#6c757d;
}
.link {
    text-decoration: none;
    
}
.play{
    margin-right: 20px;
    /* background-color: #ced0d1; */
    color: #007A70;
    border-radius: 40px;
}
.bg_color_playbtn{
    background-color: #f1f2f5;
    border-radius: 100%;
    border: 1px solid #f1f2f5;
    width:20px;
    height: 20px;
    margin-right: 10px;

}
.image{
   border-radius: 40px;
   margin-bottom: 20px;
}
.join{
    color: #0C140F;
    font-size: 20px;
    font-weight: 700;
    border: 3px solid #a9adb1;
    padding: 5px 20px;
    border-radius: 4px;
}
.bg_color{
    background-color: #f1f2f5;
    border-radius: 100%;
    border: 1px solid #f1f2f5;
    width:70px;
    height: 70px;
    margin-bottom: 40px;
}
