.gray{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    /* height: 100%; */
    background: rgba(0, 3, 32, 0.6);
    height: 500px;
}
.heading{
    text-align: center;
    font-size: 80px;
    color: aliceblue;
    position: absolute;
    top:30%;
    left:40%;
}